# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




# Preparing the project for Git
#2 
# ignore the following from going into Github repository.
# leave these files out

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json

# for launch of web page
# !.vscode/launch.json

!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
